.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  margin-bottom: 30px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}

.login-page, .register-page {
  max-width: 400px;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.home-page {
  text-align: center;
}

.home-page {
  max-width: 800px;
  margin: 0 auto;
}



.user-info {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.features {
  margin: 30px 0;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  padding: 8px 0;
  font-size: 16px;
}

.dashboard {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.balance-card {
  padding: 10px 0;
  margin: 20px;
}




/* Стили для форм */
input, select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: px;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  border-color: #007bff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Таблица */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
}

.header-button{
  text-decoration: none;
  background-color: #AFF019;
  padding: 8px 16px;
  border-radius: 10px;
  color: #000000;
  font-size: 15px ;
}

.header-button:hover{
  background-color: transparent;
  color: #AFF019;
  border: 1px solid #AFF019;
  padding: 6px 15px;
}

.logout-button{
  text-decoration: none;
  background-color: #F08819;
  padding: 8px 16px;
  border-radius: 10px;
  color: #000000;
  font-size: 15px ;
}

.logout-button:hover{
  background-color: transparent;
  color: #F08819;
  border: 1px solid #F08819;
  padding: 6px 15px;
}
.header-a{
  color: #A6A6A6;
  text-decoration: none;
  font-size: 13px;
}

.header-a:hover{
  color: #AFF019;
}

.transaction-form {
  margin-bottom: 30px;
  padding: 10px 10px;
  border: 1px solid #A6A6A6;
  border-radius: 15px;
  background: transparent;
  display: flex;
  flex-direction: column;
  color: white;
  height: fit-content;
  gap: 10px;

}
.transaction-form-lable{
  color: white;
  font-size: 16px;
}
.transaction-form-input{
  border:1px solid #A6A6A6;
  background: transparent;
  border-radius: 10px;
  color: #A6A6A6;
  padding: 5px 10px;
  font-size: 16px;
  height: 30px;
}
.transaction-button-submit{
  flex: 1;
  width: auto;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 800;
  color: #000000;
}
.transaction-button-income{
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  background: #AFF019;
  color: #000000;
  font-weight: 800;
}
.transaction-button-income:hover{
  background: transparent;
  color: #AFF019;
  border: 1px solid #AFF019;
  padding: 4px;
}

.transaction-button-expense{
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  background: #F08819;
  color: #000000;
  font-weight: 800;

}
.transaction-button-expense:hover{
  background: transparent;
  color: #F08819;
  border: 1px solid #F08819;
  padding: 
  4px;
}

.transaction-list {
  background: transparent;
  padding: 20px;
  border: 1px solid #A6A6A6;
  border-radius: 15px;
  color: white;
}

.transaction-list-delete{
  padding: 4px 8px;
  background: #F08819;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.transaction-list-delete:hover{
  background-color: transparent;
  border: 1px solid #F08819;
  color: #F08819;
  padding: 3px 7px;
}

.transaction-list-span{
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}

